:root {
    --grey: #5c636a;
    --green: #157347;
    --blue: #0d6efd;
    --red: #dc3545;
    --black: #1c1f23;
    --border-color: #DADCE0;
}

body {
    font-family: sans-serif;
}

main {
    position: absolute;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

main h1 {
    font-size: 35px;
}

main h2 {
    font-size: 20px;
    margin-bottom: 25px;
    font-weight: normal;
}

hr {
    border-width: 0px;
    height: 1px;
    width: 500px;
    color: var(--border-color);
    background-color: var(--border-color);
}

form p {
    margin: 10px 0px;
}
form span {
    margin: 10px 0px;
}

form input[type="email"], input[type="password"], input[type="text"]  {
    margin: 10px 0px;
    height: 30px;
    width: 500px;
    font-size: 15px;
}

button {
    border: transparent;
    border-radius: 5px;
    padding: 10px;
    color: #FFF;
}

button:hover {
    cursor: pointer;
}

a, a:visited {
    text-decoration: none;
    color: var(--blue);
}

.login-button {
    background-color: var(--green);
}

.signup-button {
    background-color: var(--grey);
}

.return-button {
    background-color: var(--grey);
}

.edit-button {
    background-color: var(--green);
}

.show-button {
    background-color: var(--blue);
}

.remove-button {
    background-color: var(--red);
}

.main-div {
    margin: 60px;
}

.container {
    align-items: center;
}


.container, .container1, .container-contacts  {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 30px;
    width: 500px;
}

.container-contacts {
    width: auto;
}

.div-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/*.div-buttons1 {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    align-items: center;*/
/*    justify-content: space-between;*/
/*    margin: 0px 25px;*/
/*}*/

.show-password {
    margin: 20px 0px;
}

.center-text {
    text-align: center;
    margin-bottom: 40px;
}

.exit-button {
    background-color: var(--blue);
}

.add-button {
    background-color: var(--black);
}

.password-div, .email-div, .nome-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-div {
    margin: 5px;
    border-bottom: 1px solid var(--border-color);
}

.nav-div, .contacts-div, .title-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.contacts-div {
    margin: 5px 0px;
    padding: 5px;
    width: auto;
}

.username {
    margin-right: 5px;
}

.contact-name {
    margin-right: 50px;
}

.title-contacts {
    font-size: 25px;
    font-weight: bold;
}

.end-text {
    text-align: end;
}

#password-error, #email-error, #username-error {
    font-size: 12px;
    color: var(--red);
}